<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="first-cells-component-styles.html">
<!--
`<first-cells-component>` description.

Example:

```html
<first-cells-component></first-cells-component>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --first-cells-component  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="first-cells-component">
  <template>
    <style>
      :host{display: block;}
      span {color: red}
    </style>
    <!--<div>
      <p>Suma Test</p>
      <input value={{number_::input}}>
      <input value={{number_2::input}}>
      <button on-click="click">send</button>
    </div>-->
  </template>
  <script src="first-cells-component.js"></script>
</dom-module>
